body {
    background-image: linear-gradient(270deg, rgb(107, 125, 197),  rgb(144, 157, 223));
    /*background-color: rgb(154, 159, 189);*/
}
header {
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 35px;
}
#container {
    height: 570px;
    width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;    
    background-color: rgb(65, 63, 62);
    box-shadow: 8px 6px 12px -6px rgb(79, 77, 167);
}
#display {
    position: relative;
    height: 65px;
    text-align: end;
    right: 5px;
    top: 6px;
    font-size: 70px;
    color: rgba(226, 226, 226, 0.815);
    padding: 25px 0 26px 0;
    text-align: right;
}
#topText {
    position: absolute;
    padding-left: 8px;
    padding-top: 6px;
    font-size: 20px;
    color: rgba(226, 226, 226, 0.815);
}
#buttonContainer {
    position: relative;
    top: 0;
    height: 454px;
    width: 400px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 65px auto auto auto auto;
}
#buttonContainer > * {
    padding: 0.5em 1.25em;
    text-align: center;
    position: relative;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}
#enter {
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: rgb(201, 109, 76);
    font-style: oblique;
}
#enter:hover {
    background-color: rgb(201, 109, 76);
}
#enter:active {
    background-color: rgb(192, 96, 64);
}
.operators {
    background-color: rgb(193, 193, 193);
}
.operators:hover {
    background-color: rgb(193, 193, 193);
}
.operators:active {
    background-color: rgb(187, 184, 181);
}
button:hover {
    background-color: rgb(206, 206, 206);
}
button:active {
    background-color: rgb(187, 184, 181);
}
