header {
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 35px;
}
#container {
    height: 570px;
    width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;    
    background-color: rgb(65, 63, 62);
}
#displayContainer {
    position: relative;
    height: 115px;
    top: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}
#buttonContainer {
    position: relative;
    top: 0;
    height: 454px;
    width: 400px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 65px auto auto auto;
}
#buttonContainer > * {
    padding: 0.5em 1.25em;
    text-align: center;
    position: relative;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}
#enter {
    grid-column: -2;
    grid-row: 2 / span 4;
    background-color: rgb(201, 109, 76);
    font-style: oblique;
}
#enter:hover {
    background-color: rgb(201, 112, 81);
}
.operators {
    background-color: rgb(197, 197, 197);
}
button:hover {
    background-color: rgb(214, 214, 214);
}
